:root { 
    --darkpink:#E94E77; 
    --lighttan:#EEEBE6; 
    --rose:#D68189; 
    --tan:#C6A49A; 
    --ivory:#E3CFB4; 
} 

@font-face {
    font-family: 'Aubrey';
    src: url('fonts/Aubrey/Aubrey-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.origami-logo {
    width: 350px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-btns {
    width: 700px;
    margin: 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}

.home-nav, .lessons-nav, .about-nav, .contact-nav {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    border-radius: 8px;
    height: 40px;
    margin: 0px 15px 0px 0px;
    font-size: 13px;
    color: white;
    background-color: var(--rose);
    border: none;
}

.home-nav {
    width: 70px;
}

.lessons-nav {
    width: 90px;
}

.about-nav {
    width: 70px;
}

.contact-nav {
    width: 95px;
}

.welc-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welc-message {
    padding: 0%;
    width: 900px;
    text-align: center;
}

.welcome {
    font-family: 'Aubrey', 'sans-serif';
    font-size: 2.5rem;
    margin-bottom: 0%;
}

.intro {
    font-family: 'Roboto', 'sans-serif';
    white-space: pre;
    margin-top: 0%;
    margin-bottom: 70px;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1170px;
    padding-top: 50px;
    background-color: var(--lighttan);
}

.featured {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
}

h2 {
    letter-spacing: 20px;
    font-weight: 200px;
    margin-bottom: 5px;
}

p {
    margin-top: 0%;
}

.featured-img {
    border-radius: 12px;
    width: 860px;
    margin-bottom: 18px;
}

.description {
    font-family: 'Roboto', 'sans-serif';
    width: 860px;
    display: flex;
}

.desc-container {
    width: 1250px;
}

.ad-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    border-radius: 10px;
    margin-top: 11px;
    width: 700px;
    height: 360px;
    background-color: var(--tan);
}

.ad-container p:first-child {
    margin: 35px 0px 15px 0px;
    font-size: 25px;
} 

.ad-container div{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 100px;;
    border-radius: 50%;
    height: 92px;
    width: 92px;
    background-color: var(--ivory);
}

.ad-container > div > p:first-child {
    color: var(--darkpink);
    margin: 0%;
    font-weight: bold;
    font-size: 35px;
}

.ad-container > div > p:first-child > sup:first-child{
    color: var(--darkpink);
    margin: 0%;
    font-weight: bold;
    font-size: 15px;
}

.ad-container p:nth-child(4) {
    margin:15px 0px 0px 30px;
    width: 250px;
}

.join-btn {
    color: white;
    background-color: var(--darkpink);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    margin:10px 0px 0px 98px;
}

body > p {
    margin: 40px 0px 40px 200px;
    width: 820px;
}

section {
    background-color: var(--lighttan);
    height: 730px;
}

.section-head {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    padding-top: 60px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', 'sans-serif';
    gap: 10px;
    width: 860px;
    margin-left: 194px;
}

.skill-container div {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0px 0px 10px;
    border-radius: 10px;
    height: 470px;
}

.skill-container img {
    border-radius: 10px;
    width: 95%;
    height: 180px;
}

.skill-container > div > div {
    padding: 0%;
    width: 90%;
}

.skill-container > div > div > p:first-child{
    text-align: center;
    margin: 15px 0px 12px;
}

.skill-container > div > div > p:last-child{
    font-size: 14px;
}

.skill-container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--darkpink);
    border-radius: 10px;
    margin: 0px 0px 25px;
    width: 85px;
    height: 140px;
}

.skill-container span p:first-child {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    margin: 0%;
    font-size: 23px;
}

.skill-container span p:last-child {
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 12px;
    margin: 0%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--tan);
    height: 80px;
}

footer img {
    margin: 0px 15px 0px 30px;
    width: 200px;
}

footer p:nth-child(2) {
    font-family: 'Roboto', 'sans-serif';
    font-size: 11px;
    margin: 0%;
}

footer p:last-child {
    font-family: 'Roboto', 'sans-serif';
    font-size: 11px;
    margin: 0px 0px 0px 650px;
}

.about-heading {
    margin: 30px 0px 0px 0px;
    height: 131px;
    display: flex;
    align-items: center;
    background: url("images/bg_tile.png") right 131px top;
    background-color: var(--tan);
}

.about-heading p {
    margin: 0px 0px 0px 20px;
    font-size: 45px;
    font-family: 'Roboto', 'sans-serif';
    color: white;
}

.origami-masters {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.origami-masters > p:first-child{
    letter-spacing: 20px;
    font-weight: 200px;
    margin: 60px 0px 0px 0px;
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
}

.origami-masters > p:nth-child(2){
    margin: 7px 0px 0px 0px;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}
.origami-masters > div {
    display: flex;
    justify-content: center;
}

.master01, .master02 {
    margin-top: 15px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.origami-masters > div div {
    margin: 0px 22px 0px 22px;
}


.origami-masters > div > div p:nth-child(2){
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Roboto', 'sans-serif';
}

.origami-masters > div > div p:nth-child(3){
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'Roboto', 'sans-serif';
}

.school-masters {
    height: 524px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lighttan);
}

.school-masters > p:first-child{
    letter-spacing: 20px;
    font-weight: 200px;
    margin: 60px 0px 0px 0px;
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
}

.school-masters > p:nth-child(2){
    margin: 7px 0px 18px 0px;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
}

.school-masters > section {
    display: flex;
    flex-direction: row;
}

.headmaster-container {
    width: 250px;
    height: 400px;
    padding-right: 150px;
}

.headmaster-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headmaster-container > div img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 3px;
}

.headmaster-container > div p:nth-child(2) {
    margin-bottom: 2px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
}

.headmaster-container > div p:nth-child(3) {
    font-size: 11px;
    font-family: 'Roboto', 'sans-serif';
}

.courses-container {
    width: 400px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.courses-container > div {
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
}

.courses-container > div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.courses-container > div p:nth-child(2) {
    margin: 2px 0px 0px 0px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
}

.courses-container > div p:nth-child(3) {
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    font-family: 'Roboto', 'sans-serif';
}