:root { 
    --darkpink:#E94E77; 
    --lighttan:#EEEBE6; 
    --rose:#D68189; 
    --tan:#C6A49A; 
    --ivory:#E3CFB4; 
} 

.origami-logo {
    width: 350px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    width: 700px;
}

.home-nav, .lessons-nav, .about-nav, .contact-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    border-radius: 8px;
    height: 40px;
    margin: 0px 15px 0px 0px;
    color: white;
    background-color: var(--rose);
    border: none;
}

.home-nav {
    width: 70px;
}

.lessons-nav {
    width: 90px;
}

.about-nav {
    width: 70px;
}

.contact-nav {
    width: 95px;
}

.welc-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.welc-message {
    padding: 0%;
    width: 900px;
    text-align: center;
}

.welcome {
    font-family: 'Aubrey', 'sans-serif';
    font-size: 2.5rem;
    margin-bottom: 0%;
}

.intro {
    font-family: 'Roboto', 'sans-serif';
    white-space: pre;
    margin-top: 0%;
    margin-bottom: 70px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1170px;
    padding-top: 50px;
    background-color: var(--lighttan);
}

.featured {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
}

h2 {
    letter-spacing: 20px;
    font-weight: 200px;
    margin-bottom: 5px;
}

p {
    margin-top: 0%;
}

.featured-img {
    border-radius: 12px;
    width: 860px;
    margin-bottom: 18px;
}

.description {
    font-family: 'Roboto', 'sans-serif';
    width: 860px;
    display: flex;
}

.desc-container {
    width: 1250px;
}

.ad-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    color: white;
    border-radius: 10px;
    margin-top: 11px;
    width: 700px;
    height: 360px;
    background-color: var(--tan);
}

.ad-container p:first-child {
    margin: 35px 0px 15px 0px;
    font-size: 25px;
} 

.ad-container div{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 100px;;
    border-radius: 50%;
    height: 92px;
    width: 92px;
    background-color: var(--ivory);
}

.ad-container > div > p:first-child {
    color: var(--darkpink);
    margin: 0%;
    font-weight: bold;
    font-size: 35px;
}

.ad-container > div > p:first-child > sup:first-child{
    color: var(--darkpink);
    margin: 0%;
    font-weight: bold;
    font-size: 15px;
}

.ad-container p:nth-child(4) {
    margin:15px 0px 0px 30px;
    width: 250px;
}

.join-btn {
    color: white;
    background-color: var(--darkpink);
    border: none;
    font-size: 16px;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    margin:10px 0px 0px 98px;
}

body > p {
    margin: 40px 0px 40px 200px;
    width: 820px;
}

section {
    background-color: var(--lighttan);
    height: 730px;
}

.section-head {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: 'Roboto', 'sans-serif';
    padding-top: 60px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', 'sans-serif';
    gap: 10px;
    width: 860px;
    margin-left: 194px;
}

.skill-container div {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0px 0px 10px;
    border-radius: 10px;
    height: 470px;
}

.skill-container img {
    border-radius: 10px;
    width: 95%;
    height: 180px;
}

.skill-container > div > div {
    padding: 0%;
    width: 90%;
}

.skill-container > div > div > p:first-child{
    text-align: center;
    margin: 15px 0px 12px;
}

.skill-container > div > div > p:last-child{
    font-size: 14px;
}

.skill-container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--darkpink);
    border-radius: 10px;
    margin: 0px 0px 25px;
    width: 85px;
    height: 140px;
}

.skill-container span p:first-child {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    margin: 0%;
    font-size: 23px;
}

.skill-container span p:last-child {
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 12px;
    margin: 0%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--tan);
    height: 80px;
}

footer img {
    margin: 0px 15px 0px 30px;
    width: 200px;
}

footer p:nth-child(2) {
    font-family: 'Roboto', 'sans-serif';
    font-size: 11px;
    margin: 0%;
}

footer p:last-child {
    font-family: 'Roboto', 'sans-serif';
    font-size: 11px;
    margin: 0px 0px 0px 650px;
}













@font-face {
    font-family: 'Aubrey';
    src: url('fonts/Aubrey/Aubrey-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

